[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Server"

[[workflows.workflow]]
name = "Start Server"
author = 41851067
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
